In [28]:
import pandas as pd
from os import listdir
import numpy as np

In [4]:
weather = pd.read_csv('historical-hourly-weather-data/city_attributes.csv')
weather

                 City        Country   Latitude   Longitude
0           Vancouver         Canada  49.249660 -123.119339
1            Portland  United States  45.523449 -122.676208
2       San Francisco  United States  37.774929 -122.419418
3             Seattle  United States  47.606209 -122.332069
4         Los Angeles  United States  34.052231 -118.243683
5           San Diego  United States  32.715328 -117.157257
6           Las Vegas  United States  36.174969 -115.137222
7             Phoenix  United States  33.448380 -112.074043
8         Albuquerque  United States  35.084492 -106.651138
9              Denver  United States  39.739151 -104.984703
10        San Antonio  United States  29.424120  -98.493629
11             Dallas  United States  32.783058  -96.806671
12            Houston  United States  29.763281  -95.363274
13        Kansas City  United States  39.099731  -94.578568
14        Minneapolis  United States  44.979969  -93.263840
15        Saint Louis  United States  38.627270  -90.197891
16            Chicago  United States  41.850029  -87.650047
17          Nashville  United States  36.165890  -86.784439
18       Indianapolis  United States  39.768379  -86.158043
19            Atlanta  United States  33.749001  -84.387978
20            Detroit  United States  42.331429  -83.045753
21       Jacksonville  United States  30.332180  -81.655647
22          Charlotte  United States  35.227089  -80.843132
23              Miami  United States  25.774269  -80.193657
24         Pittsburgh  United States  40.440620  -79.995888
25            Toronto         Canada  43.700111  -79.416298
26       Philadelphia  United States  39.952339  -75.163788
27           New York  United States  40.714272  -74.005966
28           Montreal         Canada  45.508839  -73.587807
29             Boston  United States  42.358429  -71.059769
30          Beersheba         Israel  31.251810   34.791302
31  Tel Aviv District         Israel  32.083328   34.799999
32              Eilat         Israel  29.558050   34.948212
33              Haifa         Israel  32.815559   34.989170
34          Nahariyya         Israel  33.005859   35.094090
35          Jerusalem         Israel  31.769039   35.216331

In [16]:
weather = weather.loc[weather['Country'] == 'United States']

weather.head()

            City        Country   Latitude   Longitude
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683
5      San Diego  United States  32.715328 -117.157257

In [11]:
airports = pd.read_csv('flight-delays/airports.csv')
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [13]:
cities = weather['City'].values
cities = cities.tolist()

In [15]:
airport = airports[airports['CITY'].isin(cities)]
airport.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
20,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,GA,USA,33.64044,-84.42694
37,BNA,Nashville International Airport,Nashville,TN,USA,36.12448,-86.67818
39,BOS,Gen. Edward Lawrence Logan International Airport,Boston,MA,USA,42.36435,-71.00518
63,CLD,McClellan-Palomar Airport,San Diego,CA,USA,33.12723,-117.27873
66,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313
81,DAL,Dallas Love Field,Dallas,TX,USA,32.84711,-96.85177
85,DEN,Denver International Airport,Denver,CO,USA,39.85841,-104.66700
93,DTW,Detroit Metropolitan Airport,Detroit,MI,USA,42.21206,-83.34884
143,HOU,William P. Hobby Airport,Houston,TX,USA,29.64542,-95.27889
151,IAH,George Bush Intercontinental Airport,Houston,TX,USA,29.98047,-95.33972
157,IND,Indianapolis International Airport,Indianapolis,IN,USA,39.71733,-86.29438
165,JAX,Jacksonville International Airport,Jacksonville,FL,USA,30.49406,-81.68786
166,JFK,John F. Kennedy International Airport (New Yor...,New York,NY,USA,40.63975,-73.77893
174,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
176,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
182,LGA,LaGuardia Airport (Marine Air Terminal),New York,NY,USA,40.77724,-73.87261
192,MCI,Kansas City International Airport,Kansas City,MO,USA,39.29761,-94.71391
195,MDW,Chicago Midway International Airport,Chicago,IL,USA,41.78598,-87.75242
203,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056
216,MSP,Minneapolis-Saint Paul International Airport,Minneapolis,MN,USA,44.88055,-93.21692
221,OAJ,Albert J. Ellis Airport,Jacksonville,NC,USA,34.82916,-77.61214
228,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446
236,PDX,Portland International Airport,Portland,OR,USA,45.58872,-122.59750
238,PHL,Philadelphia International Airport,Philadelphia,PA,USA,39.87195,-75.24114
239,PHX,Phoenix Sky Harbor International Airport,Phoenix,AZ,USA,33.43417,-112.00806
243,PIT,Pittsburgh International Airport,Pittsburgh,PA,USA,40.49147,-80.23287
253,PWM,Portland International Jetport,Portland,ME,USA,43.64617,-70.30875
268,SAN,San Diego International Airport (Lindbergh Field),San Diego,CA,USA,32.73356,-117.18966
269,SAT,San Antonio International Airport,San Antonio,TX,USA,29.53369,-98.46978
277,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
278,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484

In [35]:
airport_code = airport['IATA_CODE'].values
airport_code = airport_code.tolist()
#airport_code

In [26]:
filepaths = [f for f in listdir("./flight-delays") if f.endswith('.csv')]
#filepaths

['flights_8.csv',
 'flights_9.csv',
 'airlines.csv',
 'flights_10.csv',
 'flights_11.csv',
 'flights_12.csv',
 'airports.csv',
 'flights_7.csv',
 'flights_6.csv',
 'flights_4.csv',
 'flights_5.csv',
 'flights_1.csv',
 'flights_2.csv',
 'flights_3.csv']

In [31]:
filepath = []
for x in np.arange(1,13):
    path = f'flight-delays/flights_{x}.csv'
    filepath.append(path)
filepath

['flight-delays/flights_1.csv',
 'flight-delays/flights_2.csv',
 'flight-delays/flights_3.csv',
 'flight-delays/flights_4.csv',
 'flight-delays/flights_5.csv',
 'flight-delays/flights_6.csv',
 'flight-delays/flights_7.csv',
 'flight-delays/flights_8.csv',
 'flight-delays/flights_9.csv',
 'flight-delays/flights_10.csv',
 'flight-delays/flights_11.csv',
 'flight-delays/flights_12.csv']

In [32]:
flights = pd.concat(map(pd.read_csv, filepath))

In [33]:
flights.head()

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,2015,1,1,4,AS,98,N407AS,ANC,SEA,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015,1,1,4,US,840,N171US,SFO,CLT,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015,1,1,4,AS,135,N527AS,SEA,ANC,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
destination_flights = flights[flights['DESTINATION_AIRPORT'].isin(airport_code)]
origin_flights = flights[flights['ORIGIN_AIRPORT'].isin(airport_code)]

In [46]:
origin_flights1 = origin_flights[~origin_flights['DESTINATION_AIRPORT'].isin(airport_code)]

In [49]:
filtered_flights = destination_flights.merge(origin_flights1, how='right')
#>>> df1.merge(df2, left_on='lkey', right_on='rkey')

In [50]:
filtered_flights.head()

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,4,2015,1,1,4,AS,135,N527AS,SEA,ANC,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,22,2015,1,1,4,NK,214,N632NK,LAS,DFW,...,529.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,27,2015,1,1,4,NK,597,N528NK,MSP,FLL,...,607.0,25.0,0,0,NaN,25.0,0.0,0.0,0.0,0.0

In [54]:
filtered_flights.dtypes

Unnamed: 0               int64
YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object